[project]
	description = An implementation of ROS in pure Java with Android support.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jhz-linhe (jhz-linhe)
[access "refs/for/refs/*"]
	read = group user/jhz-linhe (jhz-linhe)
	push = group user/jhz-linhe (jhz-linhe)
	label-Code-Review = -2..+2 group user/jhz-linhe (jhz-linhe)
	label-Verified = -1..+1 group user/jhz-linhe (jhz-linhe)
	rebase = group user/jhz-linhe (jhz-linhe)
	removeReviewer = group user/jhz-linhe (jhz-linhe)
	submit = group user/jhz-linhe (jhz-linhe)
[access "refs/heads/*"]
	read = group user/jhz-linhe (jhz-linhe)
	create = group user/jhz-linhe (jhz-linhe)
	push = +force group user/jhz-linhe (jhz-linhe)
	pushMerge = group user/jhz-linhe (jhz-linhe)
[access "refs/tags/*"]
	push = +force group user/jhz-linhe (jhz-linhe)
	pushTag = group user/jhz-linhe (jhz-linhe)
	pushSignedTag = group user/jhz-linhe (jhz-linhe)
